.navbar-custom { 
  background-color: black; 
} 
.navbar-custom .navbar-brand{
  font-size: large;
  color:whitesmoke;
} 
.navbar-custom .nav-link > a { 
  font-size: large;
  color:whitesmoke;
}
body{
  padding-top: 70px;
  background-color: thistle;
  padding-bottom: 100px;
  

}
.navbar{
  height: max-content;
  
}
h3{
  text-align: center;
}

.navbar-toggle, .icon-bar {
  border:1px solid orange;
}

footer{
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  width: 100%;

}

.footer-bottom{
  text-align: center;
  padding-top: 20px; 
}
.footer-bottom p{
  text-transform:capitalize;
  word-spacing: 2px;
  font-size: 14px;
}
.footer-bottom span{
  text-transform:uppercase;
 opacity: .4;
  font-weight: 200;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: red;
  color: white;
}
.fa-instagram {
  background:orangered;
  color: white;
}
.fa-linkedin-square {
  background: #3B5998;
  color: white;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: fit-content;
}
